
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Source</th>
      <th>Files</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each books}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.author}}</td>
      <td>{{this.source}}</td>
      <td>
        {{#each this.files}}
          <a href="/files/{{this.id}}" class="tag">{{this.format}}</a>
        {{/each}}
      </td>
      <td>
        <form method="POST" action="/library/{{this.id}}/delete" class="inline">
          <button type="submit" class="secondary">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
